/* NAV */

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

nav.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav.main-nav ul li {
  list-style: none;
  margin: 0 1rem;
}

.main-nav a {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  width: 100%; /* Make links fill the width of their container */
}

nav.main-nav ul li a {
  font-family: var(--font-secondary), sans-serif;
  font-size: clamp(1.025rem, 1vw, 1.125rem); /* Adjusted for responsiveness */
  font-weight: 400;
  line-height: 1rem;
  color: var(--dullwhite);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center; /* Center text for better responsiveness */
}

nav.main-nav ul li a:hover {
  color: var(--white); /* Brighter on hover */
}

nav.main-nav ul li a.active {
  color: var(--white); /* Brightest when active */
}

nav.main-nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px; /* Adjusted height here */
  background-color: var(--white);
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover underline that grows from the left */
nav.main-nav ul:not(.dropdown-menu) > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: var(--white);
  border-radius: 2px;
  transition: width 0.6s ease, background-color 0.6s ease;
  opacity: 0;
}

nav.main-nav ul:not(.dropdown-menu) > li > a:hover::after {
  width: 100%;
  opacity: 1;
}

nav.main-nav ul.dropdown-menu li a.active::after {
  bottom: -1px; /* Adjust the gap as needed */
}

/* Active link styles */
nav.main-nav ul li a.active::after {
  width: 100%;
  height: 1px; /* Adjusted height here */
  opacity: 1;
}

.nav-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  justify-content: space-around;
  align-items: center;
}

.nav-container ul {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-container ul li {
  list-style: none;
  margin: 0.5rem;
}

.social-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  align-items: center;
}

@media (max-width: 1410px) {
  .social-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .social-container {
    display: none;
  }
}

.social ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.social li {
  margin: 0 0.5rem;
}

.social ul > li > a {
  margin: 0;
  padding: 0;
}

.ctas-container {
  display: flex; /* Aligns buttons side by side */
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main-nav a {
    padding: 0.25rem; /* Reduce padding for smaller screens */
  }

  nav.main-nav ul li {
    margin: 0 0.5rem; /* Reduce margin for smaller screens */
  }

  .social ul > li > a {
    padding: 0.25rem; /* Reduce padding for smaller screens */
  }

  .ctas-container {
    flex-direction: column; /* Stack buttons vertically */
  }

  .ctas-container > * {
    margin: 0.25rem 0; /* Reduce margin for buttons */
  }
}

//* Style for dropdown menu */
.dropdown {
  position: relative;
  z-index: 1010;
}

/* Invisible bridge to keep the dropdown open */
/* .dropdown::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 60%;
  width: 12%;
  height: 47px;
  background: red;
  pointer-events: auto;
} */

.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-8px);
  width: 1rem;
  height: 8px;
  background: inherit;
  border-radius: 8px 8px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-inline: 1px solid rgba(255, 255, 255, 0.4);
}

/* The invisible bridge to prevent flickering */
.dropdown-menu::after {
  content: "";
  position: absolute;
  top: -66px; /* Make sure it overlaps with the dropdown trigger */
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Center it horizontally */
  width: 8rem;
  height: 70px; /* This is the invisible hover bridge */
  background: transparent;
  pointer-events: auto;
}

.dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li:first-child {
  padding-top: 0.5rem;
}

.dropdown-menu li:last-child {
  padding-bottom: 0.5rem;
}

.dropdown-menu li a {
  display: flex;
  padding: 0.5rem 1rem;
  color: var(--dullwhite);
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.dropdown-menu li a:active {
  transform: scale(0.98);
}

.dropdown-toggle .arrow-icon {
  margin-left: 0.5rem;
  border: solid var(--dullwhite);
  border-width: 0 1px 1.5px 0;
  display: inline-block;
  padding: 0.2rem;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.dropdown:hover .arrow-icon {
  transform: rotate(-135deg);
}

/* The dropdown menu */
.dropdown-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 100%;
  background: var(--color-primary);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1001;
  pointer-events: none; /* Disable pointer events */
  min-width: 220px; /* Ensure it has a width */
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto; /* enable pointer events when menu is visible */
}

/* The dropdown hover state */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle line */
  padding: 0;
}

.dropdown-menu li:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.dropdown-menu li:first-child {
  padding-top: 0.5rem; /* Adjust the padding value as needed */
}

.dropdown-menu li:last-child {
  padding-bottom: 0.5rem; /* Adjust the padding value as needed */
}

.dropdown-menu li a {
  display: flex;
  padding: 0.5rem 1rem;
  color: var(--dullwhite);
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

/* Small animation on hover */
.dropdown-menu li a:active {
  transform: scale(0.98);
}

.card-index h3 {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: center; /* Center items horizontally */
  position: relative; /* Ensure relative positioning */
  line-height: 1;
}

.card-index h3 .arrow-icon {
  margin-left: 0.8rem;
  border: solid var(--dullwhite);
  border-width: 0 2px 2px 0; /* Increased border width for a bigger arrow */
  display: inline-block;
  padding: 0.3rem; /* Increased padding for better visibility */
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  align-self: center; /* Ensure the arrow icon is centered vertically */
  position: static; /* Remove absolute positioning */
}

.card-index h3:hover .arrow-icon {
  transform: rotate(-135deg); /* Rotate the arrow upwards */
}

/* Hamburger Menu & Overlay */

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem; /* Increased width */
  height: 2rem; /* Increased height */
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.3s ease-in-out; /* Add transition for rotation */
}

.hamburger span {
  width: 2rem; /* Increased width */
  height: 0.2rem; /* Increased height */
  background: var(--dullwhite);
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  position: relative;
  transform-origin: 10px; /* Adjusted for better rotation */
}

.hamburger.active {
  transform: rotate(90deg); /* Rotate the entire hamburger menu */
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Adjusted for better alignment */
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px); /* Adjusted for better alignment */
}

.menu-overlay {
  position: fixed;
  top: 117px;
  left: 0;
  width: 100%;
  background: var(--color-tertiary);
  transition: height 0.3s ease-in-out, opacity 0.3s visibility 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-overlay.active {
  display: flex;
  align-items: center;
  height: calc(100vh - 117px);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.menu-overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 100%;
  opacity: 0;
  height: calc(100vh - 117px);
}

.menu-overlay.active .menu-overlay-content {
  opacity: 1;
}

.menu-overlay ul {
  list-style: none;
  padding: 1.25rem;
  text-align: center;
  margin: 0;
}

.menu-overlay ul li {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.menu-overlay ul li a {
  color: var(--dullwhite);
  text-decoration: none;
  font-size: 2.3rem;
  transition: color 0.4s ease, background-color 0.4s ease;
  display: block; /* Make links fill width */
  box-sizing: border-box; /* Include padding in width */
  padding: 0.5rem 1rem; /* consistent padding */
}

.menu-overlay ul li a:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px; /* Subtle radius for modern look */
  transition: background-color 0.5s ease, color 0.5s ease,
    border-radius 0.5s ease; /* Smooth transition */
}

.menu-overlay ul li a.active {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.menu-overlay .dropdown-overlay ul li a:hover {
  padding: 0;
}

.menu-overlay .dropdown-overlay ul li a.active {
  padding: 0.1rem;
}

/* Overlay Dropdown Styles */
.dropdown-overlay .dropdown-menu-overlay {
  visibility: hidden; /* Instead of display: none */
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 1rem 3rem;
  max-height: 0; /* Set max-height to 0 to collapse space */
  overflow-y: hidden; /* Hide overflow */
  background: rgba(0, 0, 0, 0.2); /* Slightly darker for contrast */
  border-radius: 6px; /* Rounded edges for modern look */
  backdrop-filter: blur(10px); /* Adds a slight blur effect */
  transform: translateY(-15px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out,
    max-height 0.5s ease-out, visibility 0s linear 0.5s;
}

.dropdown-overlay.active .dropdown-menu-overlay {
  visibility: visible;
  opacity: 1;
  max-height: 12.75rem; /* Set max-height to desired value when visible */
  overflow-y: auto; /* Enable vertical scrolling */
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out,
    max-height 0.5s ease-out;
}

/* When active (open), make it visible */
.dropdown-overlay.active .dropdown-menu-overlay {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Animate individual list items */
.dropdown-overlay .dropdown-menu-overlay li {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* Staggered effect for list items */
.dropdown-overlay.active .dropdown-menu-overlay li {
  opacity: 1;
  transform: translateY(0);
  margin: 0;
  padding-block: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle line between each li */
}

.dropdown-overlay.active .dropdown-menu-overlay li:last-child {
  border-bottom: none; /* Remove border from the last item */
}

/* Delay each item for a cascading effect */
.dropdown-overlay.active .dropdown-menu-overlay li:nth-child(1) {
  transition-delay: 0.1s;
}
.dropdown-overlay.active .dropdown-menu-overlay li:nth-child(2) {
  transition-delay: 0.2s;
}
.dropdown-overlay.active .dropdown-menu-overlay li:nth-child(3) {
  transition-delay: 0.3s;
}
.dropdown-overlay.active .dropdown-menu-overlay li:nth-child(4) {
  transition-delay: 0.4s;
}

.dropdown-overlay .dropdown-menu-overlay li a {
  color: var(--dullwhite);
  text-decoration: none;
  font-size: 1.2rem;
  display: block; /* Make links fill the li width */
  padding: 0; /* Add some padding */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-overlay .dropdown-menu-overlay li a:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px; /* Subtle radius for modern look */
}

.dropdown-toggle-overlay {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggle-overlay .arrow-icon {
  margin-left: 0.5rem;
  border: solid var(--dullwhite);
  border-width: 0 3px 3px 0;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0.3rem;
}

.dropdown-overlay.active .arrow-icon {
  transform: rotate(-135deg);
}

/* Custom Scrollbar Styles */
.dropdown-overlay .dropdown-menu-overlay::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
}

.dropdown-overlay .dropdown-menu-overlay::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Track background */
  border-radius: 4px; /* Optional: rounded corners */
}

.dropdown-overlay .dropdown-menu-overlay::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    var(--color-quaternary),
    var(--color-tertiary)
  ); /* Thumb color */
  border-radius: 4px; /* Optional: rounded corners */
}

.dropdown-overlay .dropdown-menu-overlay::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    135deg,
    var(--color-tertiary),
    var(--color-quaternary)
  ); /* Hover effect */
}

@media (max-width: 768px) {
  .header > div {
  }

  .main-nav .nav-container {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-button-container,
  .social-container,
  .dates-index {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-evenly; /* Center the header content */
    align-items: center;
  }

  header .dates-index {
    display: none;
  }

  .logo-and-text-wrapper {
    margin: 0 auto;
  }
}
