/*
/* EFFECTS
*/

.main-nav ul,
.social ul {
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      margin: 0;
      padding: 0.5rem;
      text-decoration: none;
      transition: 1.2s;
      transition: color 0.5s, background-color 1s; /* Added transition for color */
      z-index: 1;
      &:hover {
        background-color: var(--color-primary);
        color: #ffffff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

.footarea3 ul {
  li {
    list-style: none;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 0;
      padding: 0.5rem 0;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 0.8rem;
      font-weight: 300;
      transition: 1s;
      transition: color 0.5s, background-color 0.5s; /* Added transition for color */
      z-index: 1;
      &:hover {
        background-color: var(--color-secondary);
        color: #ffffff;
        border-radius: 0.2rem;
        transform: scale(1.1);
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

.social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Subtle border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add soft shadow for a nice effect */
  border: 1px solid #fff;
  border-radius: 25%; /* Keep the border-radius for the element itself */
  z-index: 1;
  transition: border-color 0.5s, box-shadow 0.8s; /* Smooth transition for hover */
  margin: 1rem 0;
}

.social ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.8s;
  z-index: 3;
  border-radius: 25%; /* Keep the border-radius on the icon */
}

.social ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
  border-radius: 25%; /* Ensure border-radius stays on icon */
}

.social ul li a:before {
  content: "";
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  transition: 0s;
  z-index: 2;
  border-radius: 25%; /* Add border-radius here too */
  animation: pulse 10s infinite;
  transition: background 2s ease;
}

.social ul li a:hover:before {
  top: 0;
}

.social ul li a:hover:before {
  top: 0;
}

.social ul li:nth-child(1) {
  --color-original: #3b5999;
  --color-hover: #3b5999;
  --pulse-start: 1;
  --pulse-end: 2;
}

.social ul li:nth-child(2) {
  --color-original: #55acee;
  --color-hover: #55acee;
  --pulse-start: 1.1;
  --pulse-end: 2.5;
}

.social ul li:nth-child(3) {
  --color-original: #0077b5;
  --color-hover: #0077b5;
  --pulse-start: 1.1;
  --pulse-end: 3;
}

.social ul li:nth-child(4) {
  --color-original: #dd4b39;
  --color-hover: #dd4b39;
  --pulse-start: 1.1;
  --pulse-end: 1.5;
}

.social-footer ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 1;
  padding: 1rem;
}

.social-footer ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.social-footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-footer ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(color-ternary);
  transition: 0.8s;
  z-index: 2;
}

.social-footer ul li a:hover:before {
  top: 0;
}

.social-footer ul li:nth-child(1) a:before {
  background: #3b5999;
}

.social-footer ul li:nth-child(2) a:before {
  background: #55acee;
}

.social-footer ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social-footer ul li:nth-child(4) a:before {
  background: #dd4b39;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(1) hue-rotate(0deg) saturate(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  }
  100% {
    transform: scale(1);
    filter: brightness(1) hue-rotate(0deg) saturate(1);
  }
}

@keyframes subtleShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(var(--pulse-start, 1));
  }
  50% {
    transform: scale(var(--pulse-end, 1.3));
  }
  100% {
    transform: scale(var(--pulse-start, 1));
  }
}
