ul {
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 20px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: var(--white);
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      transition: 0.5s;
      z-index: 1;
      &:hover {
        background-color: var(--color-primary);
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}
