/*
/* FOOTER
*/

footer.main {
  display: grid;
  grid-template-areas: "footarea1 footarea2 footarea3";
  height: 400px;
}

footer .footarea1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footarea1;
  background-color: var(--white);
  padding: 1rem;
}

footer .footarea2 {
  grid-area: footarea2;
  background-color: var(--white);
  padding: 1rem;
}

footer .footarea3 {
  grid-area: footarea3;
  background-color: var(--white);
  padding: 1rem;
}
