/*
/* FOOTER
*/

/* FOOTER */
footer.main {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Even spacing for left and right */
  align-items: center; /* Vertically center the content */
  height: 400px;
  background-color: var(--color-quaternary);
}

footer .footarea1,
footer .footarea2,
footer .footarea3 {
  flex: 1; /* Each area takes up equal space initially */
}

footer .footarea1 {
  background-color: var(--color-quaternary);
  padding: 0;
  margin: 0 1rem;
  height: 100%;
  text-align: center;
}

footer .footarea2 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  padding: 0;
  text-align: center;
}

footer .footarea3 {
  background-color: var(--color-tertiary);
  padding: 0;
  margin: 0 1rem;
  height: 100%;
  text-align: center;
}

footer .footer-shared {
  margin: 0;
}

.footer-nav {
  margin-bottom: 0.5rem;
}

.footer-nav ul li {
  list-style: none;
  margin: 1rem;
}

.footer-nav ul li a {
  font-family: Alata, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: var(--text-dark); /* Normal state color */
  text-decoration: none;
  text-transform: initial;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-footer li {
  margin: 1rem;
}

.address-shared {
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.address-se {
}

.adress-es {
}

.address-company-name {
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
}

.address-location {
}

.address-street {
}

.address-city {
}

.address-country {
}

.telephone {
  color: var(--white);
  font-size: 1.1rem;
}

address a {
  text-decoration: none;
  color: var(--white);
}
