/*
/* FOOTER
*/

/* FOOTER */
footer.main {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Even spacing for left and right */
  align-items: center; /* Vertically center the content */
  height: 400px;
  background-color: var(--color-primary);
}

footer .footarea1,
footer .footarea2,
footer .footarea3 {
  flex: 1; /* Each area takes up equal space initially */
}

footer .footarea2 {
  display: flex;
  justify-content: center; /* Center content horizontally */
}

footer .footarea3 {
  background-color: var(--color-tertiary);
}

footer .footer-shared {
}

.footer-nav ul li {
  list-style: none;
  margin: 1rem;
}

.footer-nav ul li a {
  font-family: Alata, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: var(--text-dark); /* Normal state color */
  text-decoration: none;
  text-transform: initial;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-footer li {
  margin: 1rem;
}
