/*
/* FOOTER
*/

footer.main {
  display: grid;
  grid-template-areas: "footarea1 footarea2 footarea3";
  height: 400px;
}

footer .footer-shared {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footarea2;
  background-color: var(--white);
  padding: 1rem;
}

footer .footarea1 {
  grid-area: footarea1;
}

footer .footarea2 {
  grid-area: footarea2;
}

footer .footarea3 {
}

footer .footer-nav {
  display: flex;
  flex-direction: row;
}

.footer-nav ul li {
  list-style: none;
  margin: 1rem;
}
