/*
/* FOOTER
*/

footer.main {
  display: grid;
  grid-template-areas: "footarea1 footarea2 footarea3";
  grid-template-columns: 1fr 2fr 1fr;
  height: 400px;
}

footer .footer-shared {
  background-color: var(--color-primary);
  padding: 2rem;
}

footer .footarea1 {
  grid-area: footarea1;
}

footer .footarea2 {
  grid-area: footarea2;
  width: 100%;
}

footer .footarea3 {
  grid-area: footarea3;
}

footer .footer-nav {
}

.footer-nav ul li {
  list-style: none;
  margin: 1rem;
}

.footer-nav ul li a {
  font-family: Alata, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: var(--text-dark); /* Normal state color */
  text-decoration: none;
  text-transform: initial;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.link-column3 {
}

.adress-shared {
}

.adress-se {
}

.adress-es {
}

.social-footer {
}

.social-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-footer li {
  margin: 1rem;
}
