/*
/* FOOTER
*/

footer.main {
  display: grid;
  grid-template-areas: "footarea1 footarea2 footarea3";
  height: 400px;
}

footer .footarea1 {
  grid-area: footarea1;
  background: white;
  padding: 1rem;
}

footer .fooareat2 {
  grid-area: footarea2;
  background: var(--white);
  padding: 1rem;
}

footer .footarea3 {
  grid-area: footarea3;
  background: var(--white);
  padding: 1rem;
}
