/*
/* HEADLINES
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  font-family: Bai jamjuree, sans-serif;
}
h3 {
  font-family: var(--font-twentyfour), sans-serif;
  font-size: 1.6rem;
  color: var(--white);
}
h4 {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1.2rem;
  padding: 0;
}
h6 {
  font-size: 1rem;
}

.banner-content h2 {
  font-size: 5rem;
  line-height: 1.2;
  margin: 2rem;
  color: var(--white);
}
