/*
/* LAYOUT
*/

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  outline: thin solid red;
}

.carousel {
  width: 100%;
  height: 800px;
  background-image: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.logo img {
  width: 150px;
  height: 100px;
}

.nav-texts {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin: 0 2rem;
}

.cercadeti {
  font-size: 1.5rem;
  color: var(--dark);
}

.company-info {
  font-size: 1rem;
  color: var(--dark);
}

.slogan {
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
}

nav.main ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav.main ul li {
  padding: 0.5rem;
  list-style: none;
  padding: 0.5rem 0;
  width: 10rem;
}

nav.main ul li a {
  color: var(--dark);
  text-decoration: none;
}

nav.main ul li a:hover {
  text-decoration: underline;
  pointer: hand;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

section.main {
  background: var(--dimwhite);
}

aside.sidebar-left {
  background: var(--color-primary);
}

aside.sidebar-right {
  background: var(--color-secondary);
}
