/*
/* LAYOUT
*/

.site-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header.header {
  position: fixed;
  top: 0;
  left: 0; /* Ensure it starts at the very left */
  right: 0; /* Ensure it ends at the very right */
  background: var(--white);
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.logo-wrapper {
  background: var(--background-color-blue);
  background-size: 200% 200%;
  display: flex;
  flex-direction: row; /* Align logo and location text in a row */
  margin: 0; /* Reset margins to remove white space */
  padding: 0; /* Reset padding to remove white space */
  justify-content: center; /* Center align the logo and text */
  flex-grow: 0;
  flex-shrink: 0;
  position: relative; /* Ensure it aligns properly within the header */
  left: 0; /* Make sure it starts at the very left */
  animation: shineEffect 4s ease-in-out infinite;
  border-right: 1px solid var(--dark); /* Optional: Remove if causing visual space */
}

@keyframes shineEffect {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 10px var(--background-color-blue);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 20px var(--background-color-light-blue);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 10px var(--background-color-blue);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center; /* Ensure the logo and text are vertically centered */
}

.logo img {
  width: 50px;
  height: 85px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  padding: 0 1rem;
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  animation: pulse 1.5s infinite;
}

.logo-and-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1.cercadeti {
  font-family: var(--font-eight), sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--ghost-white);
}

.location {
  font-family: "Pontano Sans", sans-serif;
  color: var(--white);
  padding: 0 0.5rem;
  font-size: 1rem;
}

.country {
  font-family: "Pontano Sans", sans-serif;
  font-style: bold;
  color: rgb(9, 38, 80);
  font-size: 1rem;
  text-transform: uppercase;
}

.button-CTA {
  background-color: var(--color-secondary);
  padding: 1rem 2.8rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  pointer: hand;
  font-family: Pontano Sans, sans-serif;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem 0.5rem;
}

.button-CTA:nth-child(1) {
  background-color: var(--color-primary);
}

.button-CTA:hover {
  opacity: 0.9;
  box-radius: 2rem;
  transform: translateY(-2px); /* Subtle lift effect */
  transition: 0.2s;
}

.button-CTA:active {
  transform: translateY(1px); /* Press down effect */
}

.banner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/banner2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding-top: 100px; /* Adjust this value to the height of the header */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--white);
}

aside.sidebar-left {
  background: var(--white);
  /* background: var(--color-primary); */
}

aside.sidebar-right {
  background: var(--white);
  /* background: var(--color-secondary); */
}
