/*
/* LAYOUT
*/

.site-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header.header {
  background: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  position: relative;
}

.logo img {
  width: 65px;
  height: 100px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(1) hue-rotate(0deg) saturate(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  }
  100% {
    transform: scale(1);
    filter: brightness(1) hue-rotate(0deg) saturate(1);
  }
}

.logo-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-texts {
  text-align: center;
  padding: 0 4rem;
}

.cercadeti {
  font-size: 1.8rem;
  color: var(--dark);
}

.cercadeti-rehab {
  font-size: 2rem;
  color: var(--dark);
}

.location-bgs {
  background: var(--color-quaternary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  background: linear-gradient(
    135deg,
    var(--color-quaternary) 25%,
    var(--color-tertiary) 75%
  );
  background-size: 200% 200%;
  animation: subtleShift 5s ease infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@keyframes subtleShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.location-bg1 {
  padding: 0.2rem;
}

.location-bg2 {
  padding: 0.2rem;
}

.location {
  font-family: Alata, sans-serif;
  color: var(--white);
  font-size: 1rem;
}

.country {
  font-family: Oswald, sans-serif;
  color: var(--white);
  font-size: 1.8rem;
}

.button-CTA {
  background-color: var(--color-secondary);
  padding: 1rem 2.8rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  pointer: hand;
  font-family: Pontano Sans, sans-serif;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem 0.5rem;
}

.button-CTA:nth-child(1) {
  background-color: var(--color-primary);
}

.button-CTA:hover {
  opacity: 0.9;
  box-radius: 2rem;
  transform: translateY(-2px); /* Subtle lift effect */
  transition: 0.2s;
}

.button-CTA:active {
  transform: translateY(1px); /* Press down effect */
}

.banner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/banner2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  margin-top: 60px; /* Adjusted to the new header height */
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slogan {
  background-color: rgba(255, 255, 255, 0); /* White with 80% opacity */
  border-radius: 10px; /* Optional for rounded corners */
  padding: 20px; /* Optional for spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for depth */
  font-size: 3rem;
  color: var(--white);
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--white);
}

aside.sidebar-left {
  background: var(--white);
  /* background: var(--color-primary); */
}

aside.sidebar-right {
  background: var(--white);
  /* background: var(--color-secondary); */
}
