/*
/* LAYOUT
*/

@import "./variables.css";

.container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: 0 auto;
  outline: thin solid red;
}

.carousel {
  width: 100%;
}

header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

section.main {
  background: var(--dimwhite);
}

asidebar-left {
  background: var(--color-primary);
}

aside.sidebar-right {
  background: var(--color-secondary);
}
