/*
/* LAYOUT
*/

.site-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 1000;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.header > div {
  flex: 1; /* Makes each section take up equal space */
}

.logo-wrapper {
  background: var(--background-color-blue);
  background-size: 200% 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  animation: shineEffect 4s ease-in-out infinite;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

@keyframes shineEffect {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 10px var(--background-color-blue);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 20px var(--background-color-light-blue);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 10px var(--background-color-blue);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.logo img {
  width: 50px;
  height: 85px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  padding: 0 1rem;
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  animation: pulse 1.5s infinite;
}

.logo-and-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 1.5rem;
}

.logo-and-text a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1.cercadeti {
  font-family: var(--font-eight), sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--ghost-white);
  white-space: nowrap;
}

.button-CTA {
  background-color: var(--color-secondary);
  padding: 1rem 2.8rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  pointer: hand;
  font-family: Pontano Sans, sans-serif;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem 0.5rem;
}

.button-CTA:nth-child(1) {
  background-color: var(--color-primary);
}

.button-CTA:hover {
  opacity: 0.9;
  box-radius: 2rem;
  transform: translateY(-2px);
  transition: 0.2s;
}

.button-CTA:active {
  transform: translateY(1px);
}

.banner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/banner-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding-top: 100px;
}

#banner-aktuellt {
  background-image: url(../images/banner-aktuellt.jpg);
}

#banner-anmalan-finans {
  background-image: url(../images/banner-anmalan-finans.jpg);
}

#banner-kontakt {
  background-image: url(../images/banner-kontakt.jpg);
  position: relative;
  width: 60%;
}

#banner-om-oss {
  background-image: url(../images/banner-om-oss.jpg);
}

#banner-rehabilitering {
  background-image: url(../images/banner-rehabilitering.jpg);
}

#banner-rehabprogram {
  background-image: url(../images/banner-rehabprogram.jpg);
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slogan {
  padding: 5rem;
  color: var(--white);
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Left Sidebar - Main Content - Right Sidebar */
  grid-template-rows: auto; /* Allow content to dictate height */
  grid-template-areas: "left main right"; /* Define named grid areas */
  align-items: center; /* Vertically center grid items */
  justify-content: center; /* Horizontally align items */
}

section.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--white);
  min-height: 600px; /* Adjust based on content */
}

section.main h2 {
  font-size: 3rem;
  color: var(--text-dark);
  margin-top: 8rem;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside.sidebar-left {
  grid-area: left;
  background: var(--white);
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

aside.sidebar-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ensures vertical centering */
}

aside h3 {
  color: var(--text-dark);
}
