/*
/* LAYOUT
*/

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  outline: thin solid red;
}

.carousel {
  width: 100%;
  height: 800px;
  background-image: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --angle: 45deg;
  background: linear-gradient(
    var(--angle),
    oklab(94.1% -0.02 -0.02),
    oklab(90.8% -0.025 -0.034),
    oklab(84.6% -0.024 -0.053),
    oklab(79.4% -0.017 -0.098),
    oklab(74.5% -0.016 -0.117),
    oklab(69.2% -0.015 -0.13)
  );
}

.logo {
  padding: 2rem;
}

.logo img {
  width: 200px;
  height: 200px;
}

nav.main ul {
  display: flex;
  flex-direction: row;
}

nav.main ul li {
  padding: 0.5rem;
  list-style: none;
  padding: 1.2rem;
  width: 10rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

section.main {
  background: var(--dimwhite);
}

aside.sidebar-left {
  background: var(--color-primary);
}

aside.sidebar-right {
  background: var(--color-secondary);
}
