/*
/* LAYOUT
*/

.site-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header.header {
  background: var(--white);
  display: flex;
  justify-content: space-around;
  padding: 0;
  position: fixed;
  z-index: 1000;
  width: 100%; /* Ensure the header stretches across the full width */
  left: 0; /* Make sure the header starts at the left edge */
  height: 7rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: row; /* Align logo and location text in a row */
  background: linear-gradient(
    135deg,
    var(--color-quaternary) 25%,
    var(--color-tertiary) 75%
  );
  background-size: 200% 200%; /* Smooth transition between gradient colors */
  animation: subtleShift 5s ease infinite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional box-shadow */
  overflow: hidden;
  padding: 0; /* Padding inside logo wrapper */
  width: 100%; /* Ensure this element takes up the full width */
  box-sizing: border-box; /* Account for padding in width */
  justify-content: center; /* Center align the logo and text */
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center; /* Ensure the logo and text are vertically centered */
  margin: 0;
  gap: 1rem; /* Space between the logo image and the text */
}

.logo img {
  width: 55px;
  height: 90px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  padding: 0.5rem; /* Adjust padding to reduce excess white space */
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(1) hue-rotate(0deg) saturate(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.2) hue-rotate(15deg) saturate(1.5);
  }
  100% {
    transform: scale(1);
    filter: brightness(1) hue-rotate(0deg) saturate(1);
  }
}

.logo-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-texts {
  text-align: center;
  padding: 0 1rem; /* Add padding for spacing between text and edges */
}

.cercadeti {
  padding: 0.5rem 0; /* Ensure top and bottom padding inside text */
}

.cercadeti-rehab {
  font-size: 2rem;
  color: var(--white);
  white-space: nowrap;
}

@keyframes subtleShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.location {
  font-family: "Pontano Sans", sans-serif;
  color: var(--white);
  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;
}

.country {
  font-family: "Pontano Sans", sans-serif;
  color: var(--color-cua;
  font-size: 2rem;
}

.button-CTA {
  background-color: var(--color-secondary);
  padding: 1rem 2.8rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  pointer: hand;
  font-family: Pontano Sans, sans-serif;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem 0.5rem;
}

.button-CTA:nth-child(1) {
  background-color: var(--color-primary);
}

.button-CTA:hover {
  opacity: 0.9;
  box-radius: 2rem;
  transform: translateY(-2px); /* Subtle lift effect */
  transition: 0.2s;
}

.button-CTA:active {
  transform: translateY(1px); /* Press down effect */
}

.banner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/banner2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding-top: 100px; /* Adjust this value to the height of the header */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--white);
}

aside.sidebar-left {
  background: var(--white);
  /* background: var(--color-primary); */
}

aside.sidebar-right {
  background: var(--white);
  /* background: var(--color-secondary); */
}
