/*
/* MQ-PHONE*/
/*

/* Responsive Navigation */
@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-container {
    display: none; /* Hide the nav links initially */
    flex-direction: column;
    width: 100%;
    background: var(--color-primary);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .nav-container.show {
    display: flex; /* Show menu when toggled */
  }

  nav.main-nav ul {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }

  nav.main-nav ul li {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1010;
  }

  .hamburger div {
    width: 30px;
    height: 3px;
    background: var(--white);
    margin: 6px 0;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
