/*
/* NAV
*/

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Space between logo and nav links */
  align-items: center;
  width: 100%; /* Ensure the main-nav takes the full width */
  padding: 0 1rem; /* Add some padding to create space on the left and right */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center align nav links */
  margin: 0; /* Remove any default margin */
  padding: 0;
}

nav.main-nav ul li {
  list-style: none;
  margin: 0 1rem; /* Reduce margin between nav items */
}

nav.main-nav ul li a {
  font-family: Alata, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1rem;
  color: var(--text-dark); /* Normal state color */
  text-decoration: none;
  text-transform: initial;
  transition: color 0.3s ease; /* Smooth transition for color change */
  white-space: nowrap; /* Prevents text wrapping */
}

nav.main-nav ul li a:hover {
  color: var(--white); /* Change text color to white on hover */
  cursor: pointer; /* Fix for cursor on hover */
}

.social-container {
  display: flex;
  justify-content: space-evenly; /* Ensure social icons are evenly spaced */
  align-items: center;
  width: 100%; /* Use full width of header */
}

.social {
  display: flex;
  justify-content: space-evenly; /* Ensure icons are spaced evenly */
  width: auto;
}

.social ul {
  display: flex;
  justify-content: space-evenly; /* Ensure icons are spaced evenly */
  width: auto;
  background-color: red;
}

.ctas-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slogan {
  background-color: rgba(255, 255, 255, 0); /* White with 80% opacity */
  border-radius: 10px; /* Optional for rounded corners */
  padding: 5rem; /* Optional for spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for depth */
  font-size: 3rem;
  color: var(--white);
  text-align: center;
}
