/*
/* NAV
*/

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav.main-nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav.main-nav ul li a {
  font-family: Alata, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: var(--text-dark); /* Normal state color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

nav.main-nav ul li a:hover {
  color: var(--white); /* Change text color to white on hover */
  cursor: pointer; /* Fix for cursor on hover */
}

.social {
  display: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.ctas-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
