/*
/* PAGE-TEMPLATES*/

/* Index Template */

.container-index {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center; /* Vertically center grid items */
  justify-content: center; /* Horizontally align items */
  padding-top: 6vmax;
  padding-bottom: 6vmax;
}

.container-index h2 {
  font-size: 3rem;
  color: var(--text-dark);

}

/* Template kontakt */

.container-kontakt {
  margin: 0;
  padding: 0;
}

.banner-kontakt {
 display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.banner-kontakt-content {
  display: flex;
  width: 100%;
}

.kontaktaoss-form-container,
.details-container {
  width: 50%;
  height: auto;
}

.kontaktaoss-form-container {
 background: rgba(255, 252, 252, 0.80); /* Adjust the opacity as needed */
  margin-top: 12vmax;
  padding: 4vmax;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;

}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-blue3);
  color: var(--ghost-white);
  text-align: center;
  padding: 20px;

}

.details-container > h2 {
 color: var(--ghost-white);
  font-size: calc(3rem + 1vw);
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.details-container a {
  color: var(--ghost-white);
}

.addresses-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide the container into two equal columns */
  /* Add spacing between the address sections */
}

.contact-address {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  line-height: 1.3; /* Ensure the lines don't appear too crowded */
  word-wrap: break-word; /* Prevent overflow of long words */
}

.contact-address-se,
.contact-address-es {
  display: flex;
  flex-direction: column;
  align-items: center;
}

address h5 {
  margin-bottom: 1rem;
}

.mailarea {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.phonearea {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.phonearea .telephone a {
  text-decoration: underline;
}

.details-container a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.details-container a:hover {
  transform: scale(1.1);
}

.details-container a,
.details-container a[href^="tel:"] {
  display: inline-block;
  transition: transform 0.3s ease;
}

.details-container a:hover,
.details-container a[href^="tel:"]:hover {
  transform: scale(1.1);
}

.map-container {
  margin-top: auto; /* Move the map to the bottom of its container */
}

.map-container iframe {
  width: 50%;
  border: 0;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(255, 255, 255, 0.2); /* Subtle white glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-container iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, 0.4); /* Increased glow */
}

/* Template Rehabprogram */

.container-rehabprogram {
  display: flex;
  justify-content: center;
}

.rehabprogram {
  background-color: var(--white);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
  margin-top: 117px;
  height: calc(100vh - 117px);


}

.rehabprogram > h2 {
  font-size: 2.5rem;
  text-align: left;
  white-space: pre-wrap;
  padding-left: 3.5rem;

}

.rehabprogram p {
  font-size: 1.2rem;
  word-wrap: break-word;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
}

.banner-rehabprogram {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  width: 50%;
  margin-top: 117px;
 height: calc(100vh - 117px);
}

#banner-rehabprogram {
  background-image: url(../images/individual-training21.jpg);
}

.banner-content-rehabprogram {
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--header-height)); /* Adjust height to take the rest of the screen except for the header */
}

/* Template Aktuellt */

.banner-aktuellt {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  margin-top: 117px;
  height: calc(100vh - 117px);

}

.banner-content-aktuellt {
  position: relative;
  z-index: 2; /* Ensures the text appears above the dark overlay */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.container-aktuellt {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container-aktuellt h2 {
  font-size: 2.5rem;
  text-align: center;

}

.aktuellt {
  padding-top: 6vmax;
  padding-bottom: 6vmax;
}

.aktuellt p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  pre-wrap: white-space;
  margin: 1rem;
}

.main .latest-paragrafh {
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
  text-align: center;

}

.sidebar-right, .sidebar-left {
  margin-top: 7rem;
  padding: 0,
  display: flex;
  align-self: flex-start;

}

.sidebar-left {

  .card {
            background-color: #e3f2fd;
            padding: 1vmax;
            border-radius: 1vmax;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
     h3 {
            font-size: 22px;
            font-weight: bold;
            color: #333;
            margin-bottom: 15px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            background-color: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 8px;
            color: #555;
        }

        li:hover {
            background-color: var(--color-secondary);
            cursor: pointer;
        }

        }


.sidebar-right #weather-widget {
  background-color: var(--background-color-light-bluegray2);
  padding: 0.5vmax;
  border-radius: 1vmax;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.sidebar-right #weather-widget h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-align: center;
  color: #007bff; /* Blue text */
}

.forecast-day {
  padding: 15px;
  border: 1px solid #ddd; /* Add border */
  border-radius: 10px;
  background-color: #f9f9f9; /* Light gray background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial", sans-serif; /* Use a clean font */

    &:hover {
      background-color: var(--background-color-bluegray);
      cursor: pointer;
    }

}

.forecast-day h4 {
  margin-bottom: 5px;
  color: var(--black); /* Dark text */
  font
}

.forecast-day .weather-icon {
  padding: 1rem;
  margin: 5px;
}

.forecast-day .weather-icon.yellow {
  font-size: 36px; /* Adjust icon size */
  color: #ffcc00; /* Yellow color for sunny icon */
}

.forecast-day .weather-icon.gray {
  font-size: 36px; /* Adjust icon size */
  color:rgb(107, 107, 107); /* Gray color for cloudy icon */
}

.forecast-day .weather-icon.blue {
  font-size: 36px; /* Adjust icon size */
  color: #00bfff; /* Blue color for rainy icon */
}

.forecast-day p {
  text-align: center;
  margin: 0;
  color: var(--darkgray2); /* Dark text */
}

.image-gallery {
    padding: 12vmax;
    background-color: var(--background-color-light-bluegray);
    display: flex;
    justify-content: center;


}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamic columns */
    gap: 15px;
    max-width: 1200px;
    width: 100%;
}

.image-box {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: opacity 1s ease-in-out, transform 2s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

/* Om Oss Template */

.container-omoss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6vmax;

}

.info-and-images-container {
  display: flex;
  align-self: center;
  width: 100%;
  padding: 0;
  margin: 0;

}

.company-info {
   background-color: var(--background-color-light-bluegray2);
  width: 50%; /* Take up 50% of the screen */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.images-container {
  width: 50%; /* Take up the other 50% of the screen */
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */


}

.images {
  width: 100%; /* Take up 100% of the container's width */
  height: 100%; /* Take up 100% of the container's height */
  min-height: 100%;
  position: relative;


}

.img-omoss {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill the container without distortion */
  transition: transform 0.3s ease-in-out;
}

.omoss {
  display: flex;
  text-align: center;
  flex-direction: column;
   width: 100%;
  padding-bottom: 6vmax;
}

.omoss > h2 {
  margin-top: 5vmax;
  margin-bottom: 2vmax;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 5vmax;
}

.omoss p {
  font-size: 1.2rem;
  word-wrap: break-word;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
  margin: 0;
}

.company-facts {
  padding-top: 6vmax;
  background-color: #e0f7fa; /* Light gray-blueish background */
  border-radius: 10px; /* Slightly rounded corners for a professional look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Anmalan-Form */

.anmalan-form-container{
  display: flex;
  justify-content: center;
  padding-bottom: 6vmax;
  background-image: url(../images/excursion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* .image-container-form {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/staff-with-patient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 117px;
  height: calc(100vh - 117px);
} */
