/*
/* PAGE-TEMPLATES*/

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.contact-address {
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
}
