/*
/* PAGE-TEMPLATES*/

.container-kontakt {
  margin: 0;
  padding: 0;
}

.details-container {
  background-color: var(--background-color-blue2);
  color: var(--white);
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  flex-direction: column;
  width: 50%;
  border-radius: 25px 0 0 0;
  padding: 2rem;
  margin: 2rem;
}

.contact-address {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  padding: 2rem;
}
