/*
/* PAGE-TEMPLATES*/

.container-kontakt {
  display: flex;
  justify-content: space-between
  width: 100%;
}

.details-container {
  background-color: var(--background-color-white3);
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contact-address {
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
}
