/*
/* PAGE-TEMPLATES*/

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-address {
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
}
