/*
/* PAGE-TEMPLATES*/

.container-kontakt {
  display: flex;
  justify-content: space-between;
}

.details-container {
  background-color: var(--background-color-white3);
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.contact-address {
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
}
