/*
/* PAGE-TEMPLATES*/

/* Index Template */

.container-index {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center grid items */
  justify-content: center; /* Horizontally align items */
  padding-top: 6vmax;
  padding-bottom: 6vmax;
}

.cercadeti-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cercadeti-main h2 {
  font-size: 3rem;
  color: var(--text-dark);
}

.content-60width {
  width: 60%;
  margin: 0 auto;
  margin-top: 2vmax;
  margin-bottom: 6vmax;

}


/* Template kontakt */

.container-kontakt {
  margin: 0;
  padding: 0;
}

.banner-kontakt {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.banner-kontakt-content {
  display: flex;
  width: 100%;
}

.kontaktaoss-form-container,
.details-container {
  width: 50%;
  height: auto;
}

.kontaktaoss-form-container {
  background: var(--background-color-blue3);/* Adjust the opacity as needed */
  margin-top: 4vmax;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
  max-width: 50%;
  padding: 2vmax;
  height: 100vh - 117px;

}

.contact-form h2 {
  color: var(--white);
  margin-top: 4vmax;
  font-size: calc(2rem + 1vw);
  margin-bottom: 1vmax;
}

.kontaktoss-form-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--white);
}

.contact-form input, select, textarea {
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255,);
  border-radius: var(--border-radius);
  background: var(--white);
  color: var(--white);
  font-size: 14px;
  outline: none;
}

.contact-form label, contact-form, .register-welcome, .info-text {
  color: var(--white);
}

.contact-form {
  width: 80%;
  margin: 0 auto;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color-blue3);
  color: var(--ghost-white);
  text-align: center;
  max-width: 50%;

}

.details-container > h2 {
 color: var(--ghost-white);
  font-size: calc(3rem + 1vw);
  padding: 0;
  margin-top: 4vmax;
  margin-bottom: 1rem;
}

.details-container a {
  color: var(--ghost-white);
}

.addresses-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide the container into two equal columns */
  /* Add spacing between the address sections */
}

.contact-address {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  line-height: 1.3; /* Ensure the lines don't appear too crowded */
  word-wrap: break-word; /* Prevent overflow of long words */
}

.contact-address-se,
.contact-address-es {
  display: flex;
  flex-direction: column;
  align-items: center;
}

address h5 {
  margin-bottom: 1rem;
}

.mailarea {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.phonearea {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.phonearea .telephone a {
  text-decoration: underline;
}

.details-container a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.details-container a:hover {
  transform: scale(1.1);
}

.details-container a,
.details-container a[href^="tel:"] {
  display: inline-block;
  transition: transform 0.3s ease;
}

.details-container a:hover,
.details-container a[href^="tel:"]:hover {
  transform: scale(1.1);
}

.map-container {
  margin-top: auto; /* Move the map to the bottom of its container */
}

.map-container iframe {
  width: 50%;
  border: 0;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(255, 255, 255, 0.2); /* Subtle white glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-container iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, 0.4); /* Increased glow */
}

/* Template Rehabprogram */

.container-rehabprogram {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rehabprogram-and-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rehabprogram {
  background-color: var(--white);
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-top: 117px;
  height: calc(100vh - 117px);

}

.rehabprogram > h2 {
  font-size: 2.5rem;
  text-align: left;
  white-space: pre-wrap;
  padding-left: 3.5rem;

}

.rehabprogram p {
  font-size: 1.2rem;
  word-wrap: break-word;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
}

.banner-rehabprogram {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  width: 50%;
  margin-top: 117px;
 height: calc(100vh - 117px);
}
@keyframes changeRehabProgramBackground {
  0%, 16.67% {
    background-image: url(../images/individual-training21.jpg);
  }
  16.67%, 33.34% {
    background-image: url(../images/individual-training53.jpg);
  }
  33.34%, 50% {
    background-image: url(../images/individual-training8.jpg);
  }
  50%, 66.67% {
    background-image: url(../images/walking-rehab.jpg);
  }
  66.67%, 83.34% {
    background-image: url(../images/individual-training34.jpg);
  }
  83.34%, 100% {
    background-image: url(../images/pool-rehab.jpg);
  }
}

#banner-rehabprogram {
  animation: changeRehabProgramBackground 60s infinite ease-in-out;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.banner-content-rehabprogram {
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--header-height)); /* Adjust height to take the rest of the screen except for the header */
}

.programs-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
}

/* Template Aktuellt */

.banner-aktuellt {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  margin-top: 117px;
  height: calc(100vh - 117px);

}

.banner-content-aktuellt {
  position: relative;
  z-index: 2; /* Ensures the text appears above the dark overlay */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.container-aktuellt {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container-aktuellt h2 {
  font-size: 2.5rem;
  text-align: center;

}

.aktuellt {
  padding-top: 6vmax;
  padding-bottom: 6vmax;
}

.aktuellt p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  pre-wrap: white-space;
  margin: 3vmax;
}



.main .latest-paragrafh {
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
  text-align: center;

}

.sidebar-right, .sidebar-left {
  margin-top: 7rem;
  padding: 0,
  display: flex;
}

.sidebar-left {

  .card {
            background-color: #e3f2fd;
            padding: 1vmax;
            border-radius: 1vmax;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }

        ul {
            list-style: none;
            padding: 0;
        }
        li {
            background-color: white;
            padding: 1vmax;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 8px;
            color: #555;
        }

        li:hover {
            background-color: var(--background-color-optional);
            cursor: pointer;
        }

        }


.sidebar-right #weather-widget {
  background-color: var(--background-color-light-bluegray2);
  padding: 0.5vmax;
  border-radius: 1vmax;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.sidebar-right #weather-widget h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-align: center;
  color: #007bff; /* Blue text */
}

.forecast-day {
  padding: 2vmax;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  position: relative;
  z-index: 2;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  animation: changeBackground 15s infinite ease-in-out; /* Increased duration and added easing for smoother transition */
  background-size: cover;
  background-position: center center;
  transition: background-image 6s ease-in-out; /* Smooth transition for background image */
}

@keyframes changeBackground {
  0%, 30% {
    background-image: url(../images/calpe17.jpg);
  }
  30%, 50% {
    background-image: url(../images/calpe7.jpg);
  }
  50%, 80% {
    background-image: url(../images/badrulle.jpg);
  }
  80%, 100% {
    background-image: url(../images/nature3.jpg);
  }
}

.forecast-day::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

.forecast-day h4 {
  margin-bottom: 5px;
  color: var(--white); /* Dark text */

}

.forecast-day .weather-icon {
  padding: 4vmax;
  margin: 5px;


}

.forecast-day .weather-icon.yellow {
  font-size: 60px; /* Adjust icon size */
  color: #ffcc00; /* Yellow color for sunny icon */

}

.forecast-day .weather-icon.gray {
  font-size: 60px; /* Adjust icon size */
  color:rgb(217, 217, 217); /* Gray color for cloudy icon */

}

.forecast-day .weather-icon.blue {
  font-size: 60px; /* Adjust icon size */
  color: #00bfff; /* Blue color for rainy icon */

}

.forecast-day p {
  text-align: center;
  margin: 0;
  color: var(--white); /* Dark text */

}

.forecast-day p, /* Use class selectors */
.forecast-day h4,
.forecast-day .weather-icon {
  position: relative; /* Necessary for z-index to work */
  z-index: 3;
}


.image-gallery {
    padding: 12vmax;
    background-color: var(--background-color-light-bluegray);
    display: flex;
    justify-content: center;


}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamic columns */
    gap: 15px;
    max-width: 1200px;
    width: 100%;
}

.image-box {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: opacity 1s ease-in-out, transform 2s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

/* Om Oss Template */

.container-omoss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6vmax;

}

.info-and-images-container {
  display: flex;
  align-self: center;
  width: 100%;
  padding: 0;
  margin: 0;

}

.company-info {
   background-color: var(--background-color-light-bluegray2);
  width: 50%; /* Take up 50% of the screen */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.images-container {
  width: 50%; /* Take up the other 50% of the screen */
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */


}

.images {
  width: 100%; /* Take up 100% of the container's width */
  height: 100%; /* Take up 100% of the container's height */
  min-height: 100%;
  position: relative;


}

.img-omoss {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill the container without distortion */
  transition: transform 0.3s ease-in-out;
}

.omoss {
  display: flex;
  text-align: center;
  flex-direction: column;
   width: 100%;
  padding-bottom: 6vmax;
}

.omoss > h2 {
  margin-top: 5vmax;
  margin-bottom: 2vmax;
  font-size: 4vmax;
  text-align: left;
  padding-left: 5vmax;
}

.omoss p {
  font-size: 1.5vmax;
  word-wrap: break-word;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
  margin: 0;
}

.company-facts {
  padding-top: 6vmax;
  background-color: #e0f7fa; /* Light gray-blueish background */
  border-radius: 10px; /* Slightly rounded corners for a professional look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


/* Anmalan-Form */

.anmalan-form-container{
  display: flex;
  justify-content: center;
  padding-bottom: 6vmax;
  background-image: url(../images/excursion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



.register-container {
  background: rgba(255, 252, 252, 0.8); /* Adjust the opacity as needed */
  margin-top: 12vmax;
  padding: 4vmax;
  border-radius: 1vmax;
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease-in-out;
}

.register-container:hover {
  transform: translateY(-10px);
}

.register-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--black);
}

/* Anmalan-finans page layout with optional layout for the register form */

/* Anmalan-finans page */
.anmalan-finans-container {
  max-width: 100vw; /* Prevents horizontal scrolling */
  padding-top: 6vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anmalan-heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2vmax;
  color: var(--black);
}

.anmalan-content {
  display: flex;
  flex-direction: row; /* Ensures form and image are side by side */
  width: 100%;
  justify-content: center;
  gap: 2vmax; /* Adds spacing between form and image */
}



/* Ensure both elements take up equal width */
.register-container-anmalan-finans,
.image-container-anmalan {
 flex: 1; /* Makes them take equal space */
  display: flex;
  flex-direction: column;
  margin: 2vmax;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

}

.register-container-anmalan-finans
{
  display: flex;
  background-color: var(--background-color-optional);
  margin: 2vmax;
  border-radius: 0;
  width: 50%;
  padding: 2vmax;

  &:hover {
    transform: none;
  }
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--darkgray2);
}

.register-container-anmalan-finans input,
.register-container-anmalan-finans select,
.register-container-anmalan-finans textarea {
  border: 1px solid rgba(255, 255, 255);
  border-radius: var(--border-radius);
  background: #fff;
  color: var(--darkgray);
  font-size: 14px;
}

.image-container-anmalan {
  width: 50%;
  display: flex;



}

/* Ensure image scales well */
.image-container-anmalan img {
  max-width: 100%;
  height: 100%;

}

.financing-container {
  display: flex;
  flex-direction: row;
  padding-top: 6vmax;
  padding-bottom: 6vmax;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 2vmax;
}

.financing {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.financing h2 {
  font-size: 4vmax;
  margin-bottom: 20px;
  color: var(--black);
}

.financing p {
  font-size: 1.5vmax;
  margin-bottom: 20px;
  color: var(--dakrgray);
}

.financing a {
  display: block;
  padding-top: 1vmax;
}

.medical-finance {
  flex: 1; /* Takes up 50% of the space */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.medical-finance h2,
.medical-finance p {
  text-align: center;
}

.medical-finance-logo {
  width: 15vmax;
  height: auto;
  margin-top: 1vmax;
}


.image-container-finance {
  flex: 1; /* Takes up 50% of the space */
}
.image-container-finance img {
  width: 100%;
  height: auto;
  display: block;
}



