/*
/* PAGE-TEMPLATES*/

.container-kontakt {
}

.details-container {
  margin: 0;
  background-color: var(--background-color-white3);
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  flex-direction: column;
  width: 40%;
}

.contact-address {
  font-size: 8rem;
  font-weight: bold;
  font-style: normal;
}
