/*
/* PAGE-TEMPLATES*/

.container-kontakt {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.details-container {
  background-color: var(--background-color-white3);
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  flex-direction: column;
  width: 40%;
  border-radius: 25% 0 0 0;
}

.contact-address {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
}
