/*
/* STANDARD
*/

body {
  background-color: var(--white);
  color: var(--text-dark);
  font-family: var(--font-tertiary), sans-serif;
  font-style: n;
}

.main p {
  font-family: pontano-sans, sans-serif;
  font-size: 1.5rem;
  white-space: pre-wrap;
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: none;
}

[class*="fa"]:not([class*="fab"]) {
  display: block;
  margin: 0 auto;
  padding: 0.2rem;
}
