/*
/* STANDARD
*/

body {
  font-family: lato, sans-serif;
  font-size: 1.2rem;
  background-color: var(--dimwhite);
  /* line-height: 170%; */
}

section .main p {
  font-family: pontano-sans, sans-serif;
  font-size: 1.5rem;
  white-space: pre-wrap;
  text-align: center;
}
