/*
/* STANDARD
*/

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

a {
  text-decoration: none;
}

[class*="fa"]:not([class*="fab"]) {
  display: block;
  margin: 0 auto;
  padding: 0.2rem;
}
