/*
/* STANDARD
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
  background-color: var(--white);
  color: var(--text-dark);
}

.main p {
  font-family: pontano-sans, sans-serif;
  font-size: 1.5rem;
  white-space: pre-wrap;
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: none;
}

[class*="fa"]:not([class*="fab"]) {
  display: block;
  margin: 0 auto;
  padding: 0.2rem;
}
