/*
/* HEADLINES
*/

body {
  background-color: var(--background-color-white3);
  color: var(--gray-paragraph);
  font-style: normal;
}

.main p {
  font-size: 1.5rem;
  font-weight: 300;
  white-space: pre-wrap;
  text-align: center;
  margin: 1rem;
  word-wrap: break-word;
}

body,
.main p,
.address-company-name,
address span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-twentythree), sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  margin-top: 4rem;
}
h3 {
  font-size: 1.6rem;
  color: var(--white);
}
h4 {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1.2rem;
  font-style: normal;
  padding: 0;
}
h6 {
  font-size: 1rem;
}

.banner-content h2 {
  font-size: 5rem;
  line-height: 1.2;
  margin: 2rem;
  color: var(--white);
}

.address-company-name {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
}

address span {
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
