/*
/* HEADLINES
*/

body {
  background-color: var(--white);
  color: var(--gray-paragraph);
  font-style: normal;
}

.cercadeti-main p,
.container-index p {
  font-size: 1.5rem;
  font-weight: 300;
  white-space: pre-wrap;
  text-align: center;
  margin: 0.5rem;
  word-wrap: break-word;
  line-height: 1.5;
}

body,
.cercadeti-main p,
container-index p,
.address-company-name,
address span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary), sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: calc(5rem + 1vw);
}

h3 {
  font-size: 1.6rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1.2rem;
  font-style: normal;
  padding: 0;
}
h6 {
  font-size: 1rem;
}

.banner-content h2 {
  font-family: var(--font-ten), sans-serif;
  font-size: 6rem;
  font-style: bold;
  line-height: 1.2;
  margin-top: 1vmax;
  color: var(--white);
}

.address-company-name {
  font-size: 1.4vmax;
  font-weight: bold;
  font-style: normal;
}

address span {
  font-style: normal;
  font-size: 1vmax;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.info-text {
  color: var(--darkgray);
}
