/*
/* VARIABLES */
/*
*/

:root {
  --background-color-dark: #1a1a1a;
  --background-color-light: #fff;
  --background-color-blue: #007bff;
  --background-color-blue2: hsl(200, 100%, 30%);
  --color-primary: hsl(200, 100%, 40%);
  --color-secondary: #ff7f50;
  --color-tertiary: #7cb9e8;
  --color-quaternary: hsl(200, 100%, 30%);
  --color-five: rgb(232, 73, 10);
  --color-six: hsl(200, 88.1%, 16.5%);
  --text-light: rgb(244, 244, 244);
  --text-gray: #3f4a49;
  --text-dark: #0d0d0d;
  --dimwhite: #eee;
  --white: #fff;
  --black: #000;
  --dark: #222;
  --darkgray: #a9a9a9;
  --hovercolor: rgba(0, 0, 0, 0.06);
}
