/*
/* VARIABLES */
/*
*/

:root {
  --color-primary: rgba(255, 148, 101, 0.84);
  --color-secondary: hsl(24, 90%, 90%);
  --dimwhite: #eee;
  --white: #fff;
  --dark: #222;
  --darkgray: #a9a9a9;
  --footarea1: #aabbcc;
  --footarea2: #bbccdd;
  --footarea3: #c#A9A9A9cddee;
  --headcolor: hsl(29, 70%, 34%);
  --hovercolor: rgba(0, 0, 0, 0.06);
}
